openapi: 3.1.0
info:
  title: Geoteknia API
  version: 1.0.0
  description: >
    Contrato HTTP del monolito Geoteknia (Next.js 15 App Router). Los schemas de
    entrada ejecutables viven en `lib/**/**/*-schemas.ts` (Zod). Esta especificación
    se mantiene a mano y debe permanecer coherente con esos schemas.

    **Auth.js v5:** las rutas bajo `/api/auth/*` las gestiona NextAuth; no usan el
    envelope JSON `success`/`error` del resto de la API salvo cuando se solicita
    `json=true` en el callback de credenciales.

    **Portal (GTK-24):** páginas internas documentadas en `x-geoteknia-portalPages`;
    mutaciones vía Server Actions en `x-geoteknia-serverActions`.

servers:
  - url: https://geoteknia.es
    description: Producción
  - url: http://localhost:3000
    description: Desarrollo local

tags:
  - name: Portal Auth
    description: >
      Autenticación del back-office (`/admin`) vía Auth.js v5 — proveedor Credentials
      (GTK-23). Rate limiting de login planificado en GTK-26.
  - name: Leads
    description: >
      Captación pública de leads cualificados (GTK-28+). Turnstile + rate limit en
      endpoints de formulario.
  - name: Analytics
    description: >
      Ingesta pública de eventos de conversión (`conversion_events`, GTK-32).
      Sin Turnstile; rate limit por eventos; compatible con sendBeacon.
  - name: Calculator
    description: >
      Calculadora pública de alcance geotécnico orientativo (GTK-33). Sin precio;
      reglas en `calculator_rules`; telemetría `calculator_use`.

paths:
  /api/calculadora:
    post:
      tags: [Calculator]
      operationId: estimateGeotechnicalScope
      summary: Estimación orientativa de alcance geotécnico (sin precio)
      description: >
        Endpoint público que estima sondeos, profundidad y ensayos según reglas
        activas en `calculator_rules` (`lib/calculator/schema.ts`,
        motor puro `estimate`). Valida tipología y provincia por slug; la
        provincia no altera el cálculo (solo prefill y atribución). Sin regla
        aplicable → `422 NO_APPLICABLE_RULE` con `data.prefill` para el CTA de
        presupuesto (GTK-28). Rate limit `RATE_LIMIT_PUBLIC_PER_MIN` con clave
        `calculadora:{ip}`. Emite `calculator_use` best-effort solo en 200.
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: RATE_LIMIT_PUBLIC_PER_MIN (clave calculadora:{ip})
        turnstile: false
        pii:
          entrada: sin PII (tipología, plantas, superficie, provincia slug)
          salida: alcance técnico sin precio; prefill para formulario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatorInput'
      responses:
        '200':
          description: Estimación calculada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatorEstimateSuccessEnvelope'
        '400':
          description: Validación Zod o slug de catálogo inexistente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '422':
          description: Sin regla aplicable; incluye prefill para conversión.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatorNoRuleEnvelope'
        '429':
          description: Rate limit excedido.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Regla mal configurada u error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'

  /api/eventos:
    post:
      tags: [Analytics]
      operationId: ingestConversionEvents
      summary: Ingesta de eventos de conversión (espejo GTM/GA4)
      description: >
        Endpoint público fire-and-forget para la capa dataLayer/GTM y beacons
        (`navigator.sendBeacon` / `fetch` keepalive). Valida con `ingestSchema`
        (`lib/analytics/schema.ts`): un evento suelto o `{ events: [...] }` (1–50).
        Rate limit `RATE_LIMIT_PUBLIC_PER_MIN` con clave `eventos:{ip}` contando
        **eventos** (un lote de N consume N). Persistencia append-only;
        `occurred_at` lo fija el servidor; `page_url` se sanea a origin+pathname;
        `lead_id` inexistente se degrada a null (anti-enumeración).
        Parseo tolerante al `Content-Type` (acepta `application/json` y
        `text/plain` con cuerpo JSON).
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: RATE_LIMIT_PUBLIC_PER_MIN (clave eventos:{ip}; cuenta eventos)
        turnstile: false
        pii:
          entrada: sin PII directa; sessionId/gaClientId pseudónimos; pageUrl saneada
          salida: solo recorded (conteo); sin cuerpo de evento
        contentTypes:
          - application/json
          - text/plain
        maxBatchSize: 50
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionEventIngest'
          text/plain:
            schema:
              type: string
              description: >
                Cuerpo JSON serializado (sendBeacon). Mismo contrato que
                application/json tras JSON.parse.
      responses:
        '202':
          description: Eventos aceptados para persistencia append-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionEventsAcceptedEnvelope'
        '400':
          description: >
            Validación Zod (enum, claves extra, lote > 50, tipos) o JSON inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '429':
          description: Rate limit de eventos excedido.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Error interno inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'

  /api/leads/presupuesto:
    post:
      tags: [Leads]
      operationId: createBudgetLead
      summary: Alta de lead desde formulario de presupuesto
      description: >
        Endpoint público de conversión principal. Valida con `budgetLeadSchema`
        (`lib/leads/schema.ts`), verifica Cloudflare Turnstile, aplica rate limit
        `RATE_LIMIT_PUBLIC_PER_MIN` y crea contacto (dedupe), lead y proyecto en
        transacción atómica. Email de confirmación post-commit (GTK-27).
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: RATE_LIMIT_PUBLIC_PER_MIN (clave leads-presupuesto:{ip})
        turnstile: true
        pii:
          entrada: nombre, email, teléfono, empresa (HTTPS)
          salida: solo referenceNumber; sin PII en cuerpo de éxito
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLeadInput'
      responses:
        '201':
          description: Lead y proyecto creados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadCreatedSuccessEnvelope'
        '400':
          description: Validación Zod, consentimiento o slug de catálogo inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '403':
          description: Token Turnstile inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '429':
          description: Rate limit excedido.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '502':
          description: Turnstile siteverify no disponible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Error interno o generación de referencia fallida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'

  /api/leads/ubicacion:
    post:
      tags: [Leads]
      operationId: createLocationLead
      summary: Microconversión — enviar ubicación de la parcela
      description: >
        Endpoint público de baja fricción (GTK-29). Valida con `locationLeadSchema`
        (`lib/leads/schema.ts`): referencia catastral o coordenadas de mapa más
        email o teléfono. Turnstile, rate limit `RATE_LIMIT_PUBLIC_PER_MIN` (clave
        `leads-ubicacion:{ip}`). Crea contacto (dedupe), lead (`ubicacion`) y
        proyecto. Email de confirmación solo si hay email; evento `send_location`
        post-commit (best-effort).
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: RATE_LIMIT_PUBLIC_PER_MIN (clave leads-ubicacion:{ip})
        turnstile: true
        pii:
          entrada: email/teléfono opcionales, catastral/coords (HTTPS)
          salida: solo referenceNumber; sin PII en cuerpo de éxito
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationLeadInput'
      responses:
        '201':
          description: Lead y proyecto creados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadCreatedSuccessEnvelope'
        '400':
          description: Validación Zod, ubicación/contacto o slug de provincia inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '403':
          description: Token Turnstile inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '429':
          description: Rate limit excedido.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '502':
          description: Turnstile siteverify no disponible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Error interno o generación de referencia fallida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'

  /api/leads/licitacion:
    post:
      tags: [Leads]
      operationId: createTenderLead
      summary: Lead de licitación con referencia de expediente
      description: >
        Endpoint público (GTK-31). Valida con `tenderLeadSchema`
        (`lib/leads/schema.ts`): contacto corporativo más `expedienteRef` o
        `plataformaUrl`. Turnstile, rate limit `RATE_LIMIT_PUBLIC_PER_MIN` (clave
        `leads-licitacion:{ip}`). Crea contacto (dedupe), lead (`licitacion`) y
        proyecto con `expediente_ref`/`estimated_value` cuando aplica. Email de
        confirmación con fallbacks; evento `generate_lead` / `licitacion`
        post-commit (best-effort).
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: RATE_LIMIT_PUBLIC_PER_MIN (clave leads-licitacion:{ip})
        turnstile: true
        pii:
          entrada: contacto corporativo y datos de expediente (HTTPS)
          salida: solo referenceNumber; sin PII en cuerpo de éxito
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenderLeadInput'
      responses:
        '201':
          description: Lead y proyecto creados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadCreatedSuccessEnvelope'
        '400':
          description: Validación Zod, expediente/plataforma o slug de provincia inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '403':
          description: Token Turnstile inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '429':
          description: Rate limit excedido.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '502':
          description: Turnstile siteverify no disponible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Error interno o generación de referencia fallida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'

  /api/auth/csrf:
    get:
      tags: [Portal Auth]
      operationId: authGetCsrf
      summary: Obtener token CSRF para login Auth.js
      description: >
        Endpoint público requerido antes de `POST /api/auth/callback/credentials`.
        No requiere sesión ni RBAC. Rate limit de login (GTK-26) aplica al flujo
        completo de autenticación, no aislado en esta ruta.
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: hereda limitador de login (GTK-26, pendiente)
        turnstile: false
      responses:
        '200':
          description: Token CSRF para el siguiente POST de credenciales.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthCsrfResponse'
        '500':
          description: Error interno de Auth.js.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthJsErrorResponse'

  /api/auth/callback/credentials:
    post:
      tags: [Portal Auth]
      operationId: authCredentialsCallback
      summary: Callback de login con email y contraseña
      description: >
        Valida credenciales (argon2id), emite cookie de sesión JWT y crea espejo
        en tabla `sessions`. Entrada validada con el mismo contrato Zod que
        `credentialsCallbackBodySchema` (`lib/auth/login-schemas.ts`). Fallos de
        credenciales devuelven mensaje genérico (SEC-1). Usuario inactivo, email
        inexistente y contraseña incorrecta son indistinguibles para el cliente.
        Si `twofa_enabled=true`, el campo `totp` es obligatorio y debe ser válido
        (GTK-24); sin verificador registrado el login falla (fail-closed).
      security: []
      x-geoteknia-authz:
        rbac: público
        permiso: ninguno
        rateLimit: GTK-26 (429 esperado cuando exista; no implementado en GTK-23)
        turnstile: false
        pii:
          entrada: email, password, totp opcional u obligatorio si 2FA (HTTPS)
          salida: cookie de sesión; sin hash, password ni secreto TOTP en cuerpo
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CredentialsCallbackForm'
      responses:
        '200':
          description: >
            Login correcto. Con `json=true` puede devolver JSON de sesión; sin él,
            redirección según Auth.js (`callbackUrl` / `pages.signIn`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AuthSessionResponse'
                  - $ref: '#/components/schemas/AuthJsErrorResponse'
        '302':
          description: Redirección tras login (modo no-JSON).
        '401':
          description: Credenciales inválidas o login rechazado (mensaje genérico).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthJsErrorResponse'
        '403':
          description: >
            Auth.js puede usar 403 en algunos flujos; para credenciales inválidas
            tratar como equivalente opaco a 401 (SEC-1).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthJsErrorResponse'
        '429':
          description: Rate limit de login (GTK-26).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorEnvelope'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthJsErrorResponse'

  /api/auth/session:
    get:
      tags: [Portal Auth]
      operationId: authGetSession
      summary: Consultar sesión Auth.js actual
      description: >
        Devuelve la sesión asociada a la cookie o `null` si no hay sesión válida
        (incluye espejo revocado/expirado en BD — GTK-23).
      security:
        - authjsSessionCookie: []
      x-geoteknia-authz:
        rbac: sesión Auth.js (cualquier rol interno autenticado o anónimo sin sesión)
        permiso: ninguno
        rateLimit: estándar
        turnstile: false
      responses:
        '200':
          description: Sesión activa o vacía.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'

  /api/auth/signout:
    post:
      tags: [Portal Auth]
      operationId: authSignOut
      summary: Cerrar sesión Auth.js
      description: Invalida la cookie de sesión en el cliente (revocación en BD en tickets posteriores si aplica).
      security:
        - authjsSessionCookie: []
      x-geoteknia-authz:
        rbac: sesión Auth.js
        permiso: ninguno
        rateLimit: estándar
        turnstile: false
      responses:
        '200':
          description: Sesión cerrada.
        '302':
          description: Redirección post-logout según configuración Auth.js.

components:
  securitySchemes:
    authjsSessionCookie:
      type: apiKey
      in: cookie
      name: authjs.session-token
      description: >
        Nombre de cookie según configuración Auth.js v5 en producción; puede variar
        con prefijo `__Secure-` en HTTPS.

  schemas:
    ApiErrorBody:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
          examples: [VALIDATION_ERROR, INVALID_CREDENTIALS, RATE_LIMITED]
        message:
          type: string
        details:
          type: array
          items:
            type: object
            additionalProperties: true

    ApiErrorEnvelope:
      type: object
      additionalProperties: false
      required: [success, error]
      properties:
        success:
          type: boolean
          const: false
        error:
          $ref: '#/components/schemas/ApiErrorBody'

    LeadCreatedData:
      type: object
      additionalProperties: false
      required: [referenceNumber]
      properties:
        referenceNumber:
          type: string
          maxLength: 50
          example: PRE-20260724-7K3M

    LeadCreatedSuccessEnvelope:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: '#/components/schemas/LeadCreatedData'

    CalculatorInput:
      type: object
      additionalProperties: false
      required: [tipoObra, plantas, superficie, provincia]
      properties:
        tipoObra:
          type: string
          minLength: 1
          description: Slug de `work_typologies.slug`
        plantas:
          type: integer
          minimum: 1
          maximum: 200
        superficie:
          type: number
          exclusiveMinimum: 0
          maximum: 1000000
        provincia:
          type: string
          minLength: 1
          description: Slug de `provinces.slug` (prefill/atribución; no altera cálculo)

    CalculatorPrefill:
      type: object
      additionalProperties: false
      required: [servicio, provincia, tipoObra, plantas, superficie]
      properties:
        servicio:
          type: 'null'
          description: GTK-28 exige servicio; el frontal mapea tipología→servicio
        provincia:
          type: string
        tipoObra:
          type: string
        plantas:
          type: integer
        superficie:
          type: number

    CalculatorEstimateData:
      type: object
      additionalProperties: false
      required:
        - boreholes
        - depthEstimate
        - recommendedTests
        - cteReference
        - prefill
      properties:
        boreholes:
          type: integer
          minimum: 1
          description: Nº orientativo de sondeos (ceil, mínimo 1). Sin precio.
        depthEstimate:
          type: string
          nullable: true
        recommendedTests:
          type: string
          nullable: true
        cteReference:
          type: string
          nullable: true
        prefill:
          $ref: '#/components/schemas/CalculatorPrefill'

    CalculatorEstimateSuccessEnvelope:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: '#/components/schemas/CalculatorEstimateData'

    CalculatorNoRuleEnvelope:
      type: object
      additionalProperties: false
      required: [success, error, data]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              const: NO_APPLICABLE_RULE
            message:
              type: string
        data:
          type: object
          additionalProperties: false
          required: [prefill]
          properties:
            prefill:
              $ref: '#/components/schemas/CalculatorPrefill'

    ConversionEventName:
      type: string
      enum:
        - generate_lead
        - click_tel
        - click_whatsapp
        - click_email
        - send_location
        - calculator_use
        - resource_download
        - scroll_depth

    LeadType:
      type: string
      enum: [presupuesto, licitacion, recurso, ubicacion]

    LeadSource:
      type: string
      enum: [organico, sem, directo, referral]

    ConversionEventInput:
      type: object
      additionalProperties: false
      required: [eventName]
      properties:
        eventName:
          $ref: '#/components/schemas/ConversionEventName'
        leadId:
          type: string
          format: uuid
          description: Opcional; si no existe en `leads` se degrada a null.
        serviceSlug:
          type: string
          maxLength: 200
        provinceSlug:
          type: string
          maxLength: 200
        leadType:
          $ref: '#/components/schemas/LeadType'
        source:
          $ref: '#/components/schemas/LeadSource'
        pageUrl:
          type: string
          format: uri
          maxLength: 2048
          description: Persistido como origin+pathname (sin query/fragment).
        sessionId:
          type: string
          maxLength: 200
        gaClientId:
          type: string
          maxLength: 200
        formStep:
          type: integer
          minimum: 0
          maximum: 50
        value:
          type: number
          minimum: 0
          maximum: 10000000000

    ConversionEventBatch:
      type: object
      additionalProperties: false
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: '#/components/schemas/ConversionEventInput'

    ConversionEventIngest:
      oneOf:
        - $ref: '#/components/schemas/ConversionEventInput'
        - $ref: '#/components/schemas/ConversionEventBatch'
      description: >
        Contrato Zod `ingestSchema` (`lib/analytics/schema.ts`).

    ConversionEventsAcceptedData:
      type: object
      additionalProperties: false
      required: [recorded]
      properties:
        recorded:
          type: integer
          minimum: 0
          description: Número de filas insertadas en `conversion_events`.

    ConversionEventsAcceptedEnvelope:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: '#/components/schemas/ConversionEventsAcceptedData'

    BudgetLeadInput:
      type: object
      additionalProperties: false
      required:
        - servicio
        - provincia
        - nombre
        - email
        - telefono
        - rol
        - gdprConsent
        - turnstileToken
      properties:
        servicio:
          type: string
          minLength: 1
          description: Slug de `services.slug`
        provincia:
          type: string
          minLength: 1
          description: Slug de `provinces.slug`
        tipoObra:
          type: string
          description: Slug opcional de `work_typologies.slug`
        plantas:
          type: integer
          minimum: 1
        superficie:
          type: number
          exclusiveMinimum: 0
        fase:
          type: string
        nombre:
          type: string
          minLength: 2
          maxLength: 200
        empresa:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
        telefono:
          type: string
          minLength: 9
          maxLength: 20
        rol:
          type: string
          enum:
            - propiedad
            - promotor
            - constructor
            - arquitecto
            - ingenieria
            - otro
        gdprConsent:
          type: boolean
          const: true
        turnstileToken:
          type: string
          minLength: 1
        utmSource:
          type: string
        utmMedium:
          type: string
        utmCampaign:
          type: string
        gaClientId:
          type: string
        landingUrl:
          type: string
          format: uri

    LocationLeadInput:
      type: object
      additionalProperties: false
      required:
        - gdprConsent
        - turnstileToken
      properties:
        cadastralRef:
          type: string
          maxLength: 50
          description: Referencia catastral (alternativa a mapLat/mapLng)
        mapLat:
          type: number
          minimum: -90
          maximum: 90
        mapLng:
          type: number
          minimum: -180
          maximum: 180
        nombre:
          type: string
          minLength: 2
          maxLength: 200
        email:
          type: string
          format: email
        telefono:
          type: string
          minLength: 9
          maxLength: 20
        provincia:
          type: string
          minLength: 1
          description: Slug opcional de `provinces.slug`
        gdprConsent:
          type: boolean
          const: true
        turnstileToken:
          type: string
          minLength: 1
        utmSource:
          type: string
        utmMedium:
          type: string
        utmCampaign:
          type: string
        gaClientId:
          type: string
        landingUrl:
          type: string
          format: uri
      description: >
        Debe indicarse `cadastralRef` o el par `mapLat`+`mapLng`, y al menos
        `email` o `telefono` (validación `superRefine` en Zod).

    TenderLeadInput:
      type: object
      additionalProperties: false
      required:
        - nombre
        - empresa
        - email
        - gdprConsent
        - turnstileToken
      properties:
        nombre:
          type: string
          minLength: 2
          maxLength: 200
        empresa:
          type: string
          minLength: 1
          maxLength: 200
        email:
          type: string
          format: email
        telefono:
          type: string
          minLength: 9
          maxLength: 20
        organismo:
          type: string
          maxLength: 200
        expedienteRef:
          type: string
          maxLength: 200
        plataformaUrl:
          type: string
          format: uri
        importeEstimado:
          type: number
          exclusiveMinimum: 0
          maximum: 10000000000
        esUte:
          type: boolean
        provincia:
          type: string
          minLength: 1
          description: Slug opcional de `provinces.slug`
        gdprConsent:
          type: boolean
          const: true
        turnstileToken:
          type: string
          minLength: 1
        utmSource:
          type: string
        utmMedium:
          type: string
        utmCampaign:
          type: string
        gaClientId:
          type: string
        landingUrl:
          type: string
          format: uri
      description: >
        Debe indicarse `expedienteRef` o `plataformaUrl` (validación `superRefine` en Zod).

    LoginInput:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          maxLength: 254
          description: Normalizado trim + lowercase en servidor.
        password:
          type: string
          minLength: 8
          maxLength: 128
        totp:
          type: string
          pattern: '^\\d{6}$'
          description: >
            Segundo factor TOTP (GTK-24). Opcional si el usuario no tiene 2FA activo;
            obligatorio si `twofa_enabled=true`. Ausencia o código inválido → mismo
            error genérico que credenciales incorrectas (SEC-1).

    TotpCode:
      type: string
      pattern: '^\\d{6}$'
      description: Código TOTP de 6 dígitos (`totpCodeSchema`).

    ConfirmTotpActivationInput:
      type: object
      additionalProperties: false
      required: [totp]
      properties:
        totp:
          $ref: '#/components/schemas/TotpCode'

    DisableTotpInput:
      type: object
      additionalProperties: false
      required: [password, totp]
      properties:
        password:
          type: string
          minLength: 8
          maxLength: 128
        totp:
          $ref: '#/components/schemas/TotpCode'

    TotpActionError:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
          enum:
            - UNAUTHORIZED
            - VALIDATION_ERROR
            - INVALID_TOTP
            - FORBIDDEN
            - CONFLICT
        message:
          type: string
          maxLength: 500

    TotpVoidActionResult:
      type: object
      additionalProperties: false
      required: [ok]
      properties:
        ok:
          type: boolean
          enum: [true, false]
        error:
          $ref: '#/components/schemas/TotpActionError'

    GenerateTotpSecretSuccess:
      type: object
      additionalProperties: false
      required: [ok, otpauthUri, qrDataUrl]
      properties:
        ok:
          type: boolean
          enum: [true]
        otpauthUri:
          type: string
          minLength: 10
          maxLength: 4096
          description: URI otpauth para enrolamiento (no incluye secreto Base32 suelto).
        qrDataUrl:
          type: string
          minLength: 22
          maxLength: 131072
          description: Imagen QR en data-URL (solo fase de enrolamiento).

    GenerateTotpSecretActionResult:
      oneOf:
        - $ref: '#/components/schemas/GenerateTotpSecretSuccess'
        - type: object
          additionalProperties: false
          required: [ok, error]
          properties:
            ok:
              type: boolean
              enum: [false]
            error:
              $ref: '#/components/schemas/TotpActionError'

    CredentialsCallbackForm:
      allOf:
        - $ref: '#/components/schemas/LoginInput'
        - type: object
          additionalProperties: false
          required: [csrfToken]
          properties:
            csrfToken:
              type: string
              minLength: 1
              maxLength: 512
            callbackUrl:
              type: string
              maxLength: 2048
            json:
              type: string
              enum: ['true', 'false']

    AuthCsrfResponse:
      type: object
      additionalProperties: false
      required: [csrfToken]
      properties:
        csrfToken:
          type: string

    AuthSessionUser:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        roleId:
          type: string
          format: uuid
        roleName:
          type: string
          enum: [admin, gestor, editor, tecnico]

    AuthSessionResponse:
      type: object
      additionalProperties: true
      properties:
        user:
          $ref: '#/components/schemas/AuthSessionUser'
        expires:
          type: string
          format: date-time

    AuthJsErrorResponse:
      type: object
      description: Formato de error Auth.js (puede incluir `url` para redirección).
      additionalProperties: true
      properties:
        error:
          type: string
          description: Código/mensaje Auth.js; credenciales inválidas sin detalle de campo.
        url:
          type: string

  x-geoteknia-serverActions:
    loginAction:
      module: lib/auth/login-action.ts
      inputSchema: loginInputSchema
      resultSchema: loginActionResultSchema
      authz:
        rbac: público
        permiso: ninguno
        nota: Emite sesión; no requiere sesión previa.
      rateLimit: GTK-26 (429 → código RATE_LIMITED en resultSchema)
      seguridad:
        - SEC-1 mensaje genérico INVALID_CREDENTIALS
        - SEC-6 validación Zod antes de signIn
        - SEC-2 sin password en respuesta ni logs
        - SEC-1 TOTP obligatorio cuando twofa_enabled (GTK-24)
    generateTotpSecretAction:
      module: lib/auth/totp-actions.ts
      inputSchema: ninguno
      resultSchema: generateTotpSecretActionResultSchema
      authz:
        rbac: sesión portal válida
        permiso: ninguno (self-service cuenta propia)
        nota: Requiere `getPortalSession()`; no expone secreto Base32 en claro.
      rateLimit: GTK-26 (pendiente)
      seguridad:
        - SEC-6 sin sesión → UNAUTHORIZED
        - SEC-2 respuesta solo otpauthUri + qrDataUrl durante enrolamiento
    confirmTotpActivationAction:
      module: lib/auth/totp-actions.ts
      inputSchema: confirmTotpActivationInputSchema
      resultSchema: totpVoidActionResultSchema
      authz:
        rbac: sesión portal válida
        permiso: ninguno (self-service)
      rateLimit: GTK-26 (pendiente)
      seguridad:
        - SEC-3 código inválido no activa twofa_enabled
        - SEC-5 audit role_change con metadata.event 2fa_enabled en TX
        - SEC-2 sin secreto en respuesta
    disableTotpAction:
      module: lib/auth/totp-actions.ts
      inputSchema: disableTotpInputSchema
      resultSchema: totpVoidActionResultSchema
      authz:
        rbac: sesión portal válida
        permiso: ninguno (self-service)
      rateLimit: GTK-26 (pendiente)
      seguridad:
        - SEC-4 requiere password + TOTP válido
        - SEC-5 audit role_change con metadata.event 2fa_disabled en TX
        - SEC-2 sin password ni totp en respuesta ni logs

  x-geoteknia-portalPages:
    /perfil/seguridad:
      summary: Gestión self-service del segundo factor TOTP (portal autenticado)
      module: app/(admin)/perfil/seguridad/page.tsx
      authz:
        rbac: sesión portal válida (`getPortalSession`)
        permiso: ninguno (cuenta propia)
      seo:
        robots: noindex, nofollow
      serverActions:
        - generateTotpSecretAction
        - confirmTotpActivationAction
        - disableTotpAction
      nota: >
        No es Route Handler HTTP; las mutaciones usan los mismos contratos que
        `x-geoteknia-serverActions` arriba. Sin cambios de schema Prisma (GTK-7).
